form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 600px;
    width: 450px;
    margin-top: 20px;
}

.postBtn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.newsBtn {
    background-color: #8a0dde;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.listBtn {
    background-color: #030be1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.deleteBtn {
    background-color: #f03a08;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.updateBtn {
    background-color: #83949e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.addBtn {
    background-color: #a7ec05;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.job-card {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.job-card>h2 {
    margin-bottom: 10px;
}

.job-card>button {
    margin-top: 10px;
    padding: 2px 10px;
}


body,
footer {
    font-family: 'Madimi One', serif;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Madimi One";
    font-style: normal;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer>div>div>div>h1 {
    padding-left: 20px;
    color: #fb07f7;
}

.site-footer>div>div>div>h3 {
    padding-left: 20px;
    color: #e1bc02;
}


.site-footer {
    background-image: linear-gradient(#976708, rgb(241, 4, 4));
    padding: 20px 0;
    text-align: center;
}


.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #e5ad05, #ec4604, #ddec05);
    color: white;
    text-align: center;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}